/*
*
* Lemonade v1.1
* Copyright 2013, Joe Richardson
* lemonade.im
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*
*/

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box
}

/* Set the width of the grid */
.frame {
  margin: 0 auto
}

/* Attribute selector */
[class*='bit-'] {
  float: left;
  padding: $padding;
}

/* Floats last ".bit-" to the right */
[class*='bit-']:last-of-type {
  float: right;
  &.onlyone{
    float: left;
  }
}

/* Clearfix */
.frame:after {
  content: "";
  display: table;
  clear: both
}

/* Full */
.bit-1 { border: 1px solid red; width: 33.33%}
.bit-2 { border: 1px solid green; width: 66.66%}
.bit-3 { border: 1px solid green; width: 100%}


/* Landscape mobile & down */
@media (max-width: 30em) {
  .bit-2, .bit-1 {
    width: 100%;
  }
}

/* Portrait tablet to landscape */
@media (min-width: 30em) and (max-width: 50em) {
  .bit-2, .bit-1 {
    width: 100%;
  }
}

/* Landscape to small desktop */
@media (min-width: 50em) and (max-width: 68.750em) {
  .bit-2, .bit-1 {
  }
}
